<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Sorry pal, something went wrong on our end :(</h1>
      <p>
        Don't worry, you could always try touching grass!
      </p>
    </main>
  </body>
</html>
